/* styles.css */
body {
    font-family: Arial, sans-serif;
}

button {
    margin: 20px;
}

#tables-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px; /* Add some spacing between tables */
    padding-top: 10px;
    padding-bottom: 10px;
}
#tables-container >div{
    padding-right: 6px;
    background-position: center;
    background-position-y: 59px;
    background-repeat: no-repeat;
	background-image: url('https://i.imgur.com/XJGJ00P.jpeg');
}
table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    position: relative; /* To position the remove button */
    background: black;
}

table, th, td {
    border: 2px solid transparent;
}

td {
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    color: gray;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #666666;
    background: #808080 radial-gradient(ellipse at 42% 42%, #999999 0%, #808080 50%);
    background: #7f7f7f;
    color: #7f7f7f;
}

td.active {
    background-color: #0078d4; /* Active cell color */
    color: white;
    background: #ff0000 radial-gradient(ellipse at 42% 42%, #ffffff 0%, #ff3300 25%, #ff0000 50%);
    background: red;
    color: red;
}
.import-binary{
    margin-bottom: 8px;
    display: block;
    /* display: none; */
}
.import-hex{
    margin-bottom: 8px;
    display: block;
}
.import-hex-col{
    background: gainsboro;
    display: block;
}
.remove-table{
    background: red;
}
.remove-table, .import-line {
    /* position: absolute; */
    top: 5px;
    right: 5px;

    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.remove-line, .import-line {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#exported-data div.dragging {
    opacity: 0.5;
    cursor: grabbing;
}
#exported-data >div.active{
    background: gainsboro;
}
#exported-data >div{
    margin-right: 20px;
    display: inline-block;
    width: auto;
    overflow: auto;
    max-width: 400px;
}
#exported-data{
    /* display: flex; */
}

#toast {
    visibility: hidden;
    max-width: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transition: visibility 0s, opacity 0.5s ease-in-out;
    opacity: 0;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    td {
        width: 6px;
        height: 6px;
        font-size: 0;
    }
    .remove-table{
        font-size: 0px;padding-left: 20px;
    }
    #exported-data >div{
        width: 100%;
    }
    #exported-data {
        display: block;
    }
}
